html{
    font-size: 16px;
}
body{
    background-color: rgb(174, 255, 162);
    color: rgb(33, 40, 49);
}
a{
    color:rgb(255, 0, 0);
}
a:visited{
    color: rgb(70, 6, 6);
}
a:hover,a:active{
    color: rgb(219, 95, 95);
}
table, tr, th, td, caption{
    border: 1px solid rgb(0, 179, 152);
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.7rem;
}